body{
	background:linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url(../images/bg.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	font-family: 'Droid Serif', serif;
}
/*--Header Starts Here-- */
.header{
	padding:40px 0px 100px 0px;
}
.logo{
	float:left;
}
.logo img {
	width: 40%;
	height: auto;
}
.menu{
	 float:right;
	 margin-top:10px;
}
.menu li{
	display:inline-block;
}
 .menu li:first-child{
   	margin-left:0;
}
.menu li a{
  	display: block;
	font-size:1.5em;
	color:#fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: 400;
	font-family: 'Droid Sans', sans-serif;
}
#nav .current a {
    color:#fb326f;
   -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.menu li a:hover ,.menu li.active a{
	color:#2ecc71;
} 
.toggleMenu {
	display:  none;
   	padding:4px 5px 0px 5px;
    border-radius:2em; 
    -webkit-border-radius:2em;
    -moz-border-radius:2em;
    -o-border-radius:2em; 
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
}

.header-matter{
	text-align: center;
	padding:190px 0px;
	position:relative;
}
.header-matter h1{
	font-weight: 700;
	font-family: 'Droid Sans', sans-serif;
	color: #fff;
	font-size:80px;
	padding:0px 0px 50px 0px;
}
.line{
	position: absolute;
	left: 45%;
	top: 98.5%;
}
a#v-exchange {
	text-decoration: none;
	background: #2ecc71;
	padding: 20px 23px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	font-size: 17px;
	color: #fff;
	margin: 10px 0px;
	font-weight:bold;
}
.line p {
	font-size: 30px;
	padding: 30px 0px 0px 0px;
	color: #fff;
	font-weight: 400;
}
/*-- Header part Ends Here --*/
/*-- Search Bar Starts Here --*/    
    .cf:before, .cf:after{
      content:"";
      display:table;
    }
    
    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }

    .search-bar {
        width: 570px;
        padding: 15px;
        margin: 150px auto 50px auto;
		margin-top:150px;
		}

    
    .search-bar input {
        width: 430px;
        height: 40px;
        padding: 10px 5px;
        float: left;    
        font: bold 1.3em 'lucida sans', 'trebuchet MS', 'Tahoma';
       	border-style:solid;
		border-width: 1px;
		border-color: gray;
        background: #eee;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;      
    }
    
    .search-bar input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .search-bar input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .search-bar input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .search-bar input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
    .search-bar button {
		overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 110px;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #DD2227;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }   
      
    .search-bar button:hover{		
        background: #e54040;
		
    }	
      
    .search-bar button:active,
    .search-bar button:focus{   
        background: #c42f2f;    
    }
    
    .search-bar button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #DD2227 transparent;
        top: 12px;
        left: -6px;
    }
    
    .search-bar button:hover:before{
        border-right-color: #e54040;
    }
    
    .search-bar button:focus:before{
        border-right-color: #c42f2f;
    }    
    
    .search-bar button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
	
	
/*-- Search Bar Ends Here--*/
/*-- Footer Starts Here --*/
.footer{
	background:#2c3e50;
	padding:40px 0px;
}
.footer-row{
	padding:20px 0px;
}
.footer-row-column .text1 p,.footer-row-column .text1 small,.footer-row-column .text1 p a{
	color:#fff;
	font-size:20px;
	font-weight: 400;
	font-family: 'Droid Sans', sans-serif;
	text-decoration:none;
}
.footer-row-column .text1 p a:hover{
	color: #2ecc71;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
	
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url(../images/top_move.png) no-repeat 0px 0px;
}
p.copyright{
	font-weight:400;
	color:#fff;
	font-size:15px;	
}
p.copyright a{
	text-decoration:none;
	color:#2ecc71;
	
}
p.copyright a:hover{
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#spinner {
	
}

/*--- Media Queries Ends Here---*/


.tile{
	margin:5px;
	width: 300px;
	height:150px;
	border-style:solid;
	border-width:3px;
	color: white;
	font-family: 'Droid Sans', sans-serif;
}

div.tile a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.tile:hover{
	border-style:solid;
	border-width:3px;
	border-color:white;
}

.player{
	background:#e74c3c;
	border-color:#e74c3c;
}

.tile-logo{
	position: absolute;
	right: 25%;
	top: 15%;
	width: 50%;
}

.tile-logo img{
	width:100%;
}


.player-name{
	position: absolute;
	left:5%;
	width:50%;
	bottom:2%;
	font-size: 1.0em;
	text-align:left;
}

.team-name{
	position: absolute;
	left:0%;
	width:100%;
	bottom:0%;
	font-size: 1.0em;
	text-align:left;
}

.team-last-name{
	position:absolute;
	font-size: 1.2em;
	color: white;
	left: 70%;
	top: 20%;
	text-align: center;
	width:30%;
}

.event-name{
	position: absolute;
	right:5%;
	width:50%;
	top:30%;
	font-size: 2.5em;
}

.tile-category{
	position:absolute;
	right:3%;
	width:50%;
	top:0%;
	font-size:2em;
}


.tile-category p{
	float: right;
}

#invisible {
	opacity: 0;
}



.team{
	background:	#2d89ef;
	border-color:#2d89ef;

}
.event{
	background:#99b433;
	border-color:#99b433;
}
.date{
	background:#b91d47;
	border-color:#b91d47;
}

.date-name{
	position: absolute;
	right:5%;
	width:50%;
	height:70%;
	top:30%;
	font-size: 2.5em;
	text-align: center;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:3px;
}