/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */ 
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*--Header Starts Here-- */
body {
	background:#e74c3c;
	width: 100%;
}
.header{
	padding:0px 0px;
	height: 100vh;
}
#w3-masthead {
	padding: 0 10px;
	background: #66CCFF;
}
#header-top img{
	display:block;
	height: 2.8em;
	width: auto;
}
ul#w3-unav-links li {
	background: none;
	padding: 0px;
}
#w3-mobile-options {
	position: absolute;
	right: 10px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	top:7px;
}
#w3-mobile-options li {
	float: left;
	list-style-type: none;
}
#w3-mobile-options #w3-menu-trigger a {
	background: url(../images/nav_icon.png);
}
#w3-mobile-options li a {
	display: block;
	color: transparent;
	width: 32px;
	height: 32px;
	cursor: pointer;
	margin:0px 0px 0px 0px;
}
div#w3-universal-nav {
	padding: 5px 0px 5px 0px;
}
#w3-menu-links li a {
	color:#384254;
	font-size:15px;
	display: block;
	font-weight: 400;
	font-family: 'Droid Sans', sans-serif;
}
#w3-menu-links li a:hover {
	color:#2ecc71;
}
#w3-menu-links {
	background:#fff;
	border-top: 1px solid #eee;
	border-bottom: 2px solid #eee;
	padding: 0px 10px;
	display: none;
}
#w3-menu-links li {
	padding: 10px 0;
	background: none;
	border-bottom: 1px solid #eee;
}
.header-matter{
	text-align: center;
	padding:10px 0px;
}
.header-matter h1{
	font-weight: 700;
	font-family: 'Droid Sans', sans-serif;
	color: black;
	font-size: 1.5em;
	padding: 0px 10px;
}
	
/*-- Header part Ends Here --*/

/*-- Portfolio Starts Here --*/
.portfolio{
	text-align:center;
}
.portfolio-top {
	text-align: center;
}
.portfolio-top h3 {
	font-weight: 700;
	font-family: 'Droid Sans', sans-serif;
	font-size:25px;
	padding: 20px 0px 10px 0px;
}

/*-- Search Bar Starts Here --*/    
#search {

}

#search input[type="text"] {
    background: url("../images/search.png") no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
	height: 2em;
    color: #bebebe;
    width: 15em;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 20em;
    }
/*-- Search Bar Ends Here--*/

/*-- Footer Starts Here --*/
.footer{
	background: #3498db;
	padding:0px 0px;
}
#footer-logo img {
	height: 40px;
	width: auto;
}
p.copyright{
	color:#fff;
	font-size:16px;	
	font-family:Arial, Helvetica, sans-serif; 
}
p.copyright a{
	text-decoration:none;
	color:#2ecc71;
	
}
p.copyright a:hover{
	color: #fff;
}
/*-- Footer Ends Here --*/
